<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../components/css/playground.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>

  <body>
    <div>
      <hr />
      <h3>Buttons</h3>
      <hr />
      <div class="variant-box">
        <button class="btn btn-social btn-social-google">
          <img src="../assets/images/Google_G.svg" alt="" />
          <span>Continue with Google</span>
        </button>
        <button class="btn btn-social btn-social-apple">
          <img src="../assets/images/Google_G.svg" alt="" />
          <span>Continue with Apple</span>
        </button>
        <button class="btn btn-social btn-social-facebook">
          <img src="../assets/images/Google_G.svg" alt="" />
          <span>Continue with facebook</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-default btn-sm">Log in</button>
      </div>
      <div class="variant-box">
        <button class="btn btn-filled btn-lg">
          <span class="default-text">Start your FREE trial</span>
          <span class="hover-text">FREE for one week!</span>
          <span class="active-text">Enjoy one week FREE!</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-outlined">Member Log in</button>
      </div>
      <div class="variant-box">
        <button class="btn btn-outlined-primary btn-sm">PARENTS</button>
      </div>
      <div class="variant-box">
        <button class="btn btn-filled-light btn-lg">
          <span class="default-text">Start your FREE trial</span>
          <span class="hover-text">FREE for one week!</span>
          <span class="active-text">Enjoy one week FREE!</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-filled btn-lg font-6 font-hover-5">
          <span class="default-text">Join Now</span>
          <span class="hover-text">Start your FREE trial</span>
          <span class="active-text">woohoo!</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-default-v2 btn-xl">
          <span class="default-text">Coloring Sheet</span>
          <span class="hover-text">download</span>
          <span class="active-text">woohoo!</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-secondary btn-big">
          <span class="default-text">Finish</span>
          <span class="hover-text">You’re set!</span>
          <span class="active-text">Let’s go!</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-filled default-border-light btn-big-lg">
          <span class="default-text">Let’s get started!</span>
          <span class="hover-text">Here we go!</span>
          <span class="active-text">woohoo!</span>
        </button>
      </div>
      <div class="variant-box">
        <button class="btn btn-featured">
          <span class="default-text">play</span>
          <span class="hover-text">let’s play!</span>
          <span class="active-text">woohoo!</span>
        </button>
      </div>
    </div>
  </body>
</html>
