.educational-games-section {
  &-card {
    border-radius: 20px;
    padding: 42px 30px;
    width: 100%;
    max-width: 340px;
    text-align: right;
    @media (max-width: map-get($grid-breakpoints, md)) {
      text-align: start;
    }
  }
}

.game-development-section {
  &-images {
    width: 100%;
    max-width: 340px;
    img {
      aspect-ratio: 1 / 1;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.pre-kindergarten-section {
  &-card {
    border-radius: 20px;
    padding: 100px;
    width: 100%;
    max-width: 340px;
  }
}

.media-award-section {
  &-award-img {
    text-align: center;
    img {
      width: 100%;
      max-width: 154px;
      aspect-ratio: 1 / 1;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
  }
}
