.signup-freetrial-section,
.signup-platform-section,
.login-section {
  padding: 15px 0 54px 0;
  background-color: $primary-dark-v2;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    content: "";
    z-index: -1;
    display: block;
    width: 206px;
    background-image: url(../../assets/images/bubbles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    aspect-ratio: 206/274;
    top: 100px;
  }
  &:before {
    left: 5%;
  }
  &:after {
    right: 5%;
  }

  .back-arrow {
    max-width: 34px;
  }
}
.auth-container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.login-section {
  .card-v3 {
    &-title {
      margin: 30px 0;
    }
    &-bottom-link {
      margin-top: 58px;
    }
    &-note {
      margin-top: 17px;
    }
  }
}

.signup-platform-section {
  .card-v3 {
    &-note {
      margin-top: 70px;
    }
  }
}
