.blogpage-article-section {
  &-image {
    max-width: 500px;
    margin: 0 auto;
  }
  @media (max-width: map-get($grid-breakpoints, lg)) {
    &-ads {
      &-order-1 {
        order: 1;
        margin: 24px 0px;
      }
      &-order-2 {
        order: 2;
        margin: 24px 0px;
      }
    }
  }
}

.writter-img {
  max-width: 150px;
}

.blogpage-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15) !important;
  &-content {
    padding: 18px 20px;
    letter-spacing: 0.32px;
  }
  .blogpage-card-link {
    display: flex;
    gap: 6px;
    align-items: center;
    img {
      max-width: 10px;
    }
  }
}
