.blogpage-article-section {
  padding-top: 46px;
  padding-bottom: 102px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  &-content {
    &-title {
      margin-top: 50px;
    }
    &-link {
      text-decoration: underline;
      color: $text-dark;
    }
  }
  &-text {
    margin-top: 45px;
  }
  &-cards {
    .card-actions {
      button {
        @media (max-width: map-get($grid-breakpoints, md)) {
          font-size: 26px !important;
        }
      }
    }
  }
}
