.board-section {
  background-color: $primary-dark-v2;
  position: relative;
  overflow: hidden;
  .card-wizard {
    .card-slider-content {
      max-height: 1300px;
      transition: all 0.5s ease;
      overflow: hidden;
      &:not(.active) {
        overflow: initial;
        max-height: 500px;
        overflow: hidden;
      }
    }
  }
  .arrow-img {
    max-width: 19px;
    width: 100%;
  }
  &-top-buttons {
    span,
    a {
      font-size: 24px;
    }
  }
  a:hover {
    color: inherit;
  }
  z-index: 1;
  .board-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  &:before,
  &:after {
    content: "";
    z-index: -1;
    display: block;
    width: 206px;
    background-image: url(../../assets/images/bubbles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    aspect-ratio: 206/274;
    top: 100px;
  }
  &:before {
    left: 5%;
  }
  &:after {
    right: 5%;
  }

  .back-arrow {
    max-width: 40px;
  }
  .board-card {
    border-radius: 30px;
    width: 100%;
    border: 2px solid #ffbd00;
    background-color: $primary;
    color: $white;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      .board-card-img-1 {
        display: none;
      }
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      .board-card-img-2 {
        display: none;
        @media (min-width: map-get($grid-breakpoints, md)) {
          display: block;
        }
      }
    }
    @media (max-width: map-get($grid-breakpoints, xs)) {
      .board-card-img-3 {
        display: none;
      }
    }
    &-input {
      max-width: 440px;
      width: 100%;
      margin-bottom: 58px;
    }
    &-bottom-img-container {
      img {
        max-width: 218px;
        width: 100%;
        @media (max-width: map-get($grid-breakpoints, xs)) {
          max-width: none;
        }
      }
    }
  }
}

.onboard-01-section {
  padding-top: 25px;
  padding-bottom: 60px;
  &-card {
    padding: 0 20px 15px 20px;
    &-title,
    &-description {
      max-width: 515px;
      width: 100%;
    }
    &-title {
      margin-top: 100px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        margin-top: 80px;
      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        margin-top: 60px;
      }
    }
  }
}

.add-child-card {
  .add-child-title {
    color: #ffbd00;
    letter-spacing: 10px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .onboard-01-section-card-title {
    margin-top: 0;
  }
}

.onboard-02-section {
  padding-top: 25px;
  padding-bottom: 72px;
  &-card {
    padding: 15px 20px;
  }
  &-title {
    margin-top: 80px;
    margin-bottom: 45px;
  }
  .age-container {
    gap: 16px;
    margin-bottom: 200px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      margin-bottom: 100px;
    }
    @media (max-width: map-get($grid-breakpoints, xs)) {
      margin-bottom: 50px;
    }
    button {
      max-width: 135px;
      width: 100%;
      border-radius: 50%;
      background: transparent;
      border: 8px solid transparent;
      padding: 0;
      transition: $transition-base;
      &:hover {
        border-color: $yellow;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  .forward-btn {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    img {
      width: 48px;
      max-width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  .onboard-02-section-card-container {
    position: relative;
    .onboard-02-section-card-image-container {
      position: absolute;
      bottom: -70px;
      left: -5%;
      @media (max-width: map-get($grid-breakpoints, xxl)) {
        left: -2%;
      }
      @media (max-width: map-get($grid-breakpoints, lg)) {
        left: 0;
      }
      @media (max-width: map-get($grid-breakpoints, md)) {
        left: 0;
        .dino-foofoo-image {
          display: none;
        }
      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        left: 0;
      }
      img {
        max-width: 215px;
        width: 100%;
        @media (max-width: map-get($grid-breakpoints, xs)) {
          display: none;
        }
      }
    }
  }
}

.onboard-03-section {
  padding-top: 25px;
  padding-bottom: 60px;
  &-card-container {
    position: relative;
  }
  &-card {
    padding: 20px;
  }
  &-title {
    padding: 25px 0px;
  }
  .onboard-03-slider {
    display: flex;
    justify-content: center;
    .single-item {
      overflow-x: hidden;
    }
    .slick-list {
      margin: 0px 50px;
      overflow-x: hidden;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        margin: 0px 30px;
      }
    }
  }
  .forward-btn {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    img {
      width: 48px;
      max-width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  .avatar-container {
    gap: 20px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      margin-bottom: 20px;
    }
    button {
      max-width: 126px;
      width: 100%;
      border-radius: 50%;
      background: transparent;
      border: 5px solid transparent;
      padding: 0;
      transition: $transition-base;
      &:hover {
        border-color: $yellow;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  .slider-button-right,
  .slider-button-left {
    max-width: 40px;
    width: 100%;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      max-width: 30px;
    }
  }
  .slider-button-left {
    left: 10px;
    top: 40%;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      left: 0px;
    }
  }
  .slider-button-right {
    z-index: 3;
    right: 10px;
    top: 40%;
    rotate: 180deg;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      right: 0px;
    }
  }
  .slick-arrow {
    display: none;
    margin: 0px;
  }
  .onboard-03-slider .slick-list {
    margin-left: 70px !important;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      margin-left: 55px !important;
    }
  }
}

.onboard-04-section {
  padding-top: 25px;
  padding-bottom: 60px;
  &-card {
    padding: 15px 20px;
    position: relative;
    &-image-container {
      position: absolute;
      top: 5%;
      right: -8%;
      @media (max-width: map-get($grid-breakpoints, xl)) {
        right: -3%;
      }
      img {
        width: 100%;
        max-width: 200px;
        @media (max-width: map-get($grid-breakpoints, lg)) {
          display: none;
        }
      }
    }
  }
  &-title {
    margin-top: 45px;
    max-width: 631px;
    width: 100%;
  }
  .forward-btn {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    img {
      width: 48px;
      max-width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  &-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    button {
      width: 100%;
      max-width: 400px;
      border-radius: 40px;
      border: 1px solid $yellow;
      background: $primary-dark;
      padding: 10px 25px 10px 30px;
      transition: $transition-base;
      @media (max-width: map-get($grid-breakpoints, xs)) {
        padding: 10px 15px;
      }
      img {
        display: none;
        width: 28px;
        aspect-ratio: 1 / 1;
      }
    }
    button:hover {
      background: $primary-dark-v2;
      img {
        display: block;
      }
    }
    button:focus {
      background: $primary-dark-v3;
      img {
        display: block;
      }
    }
  }
}

.onboard-05-section {
  padding-top: 25px;
  padding-bottom: 60px;
  &-card {
    position: relative;
    padding: 15px 20px;
    button {
      margin-bottom: 90px;
    }
    &-img-container {
      .gang-img {
        position: absolute;
        bottom: -10%;
        left: -18%;
        width: 100%;
        max-width: 440px;
        @media (max-width: map-get($grid-breakpoints, xxl)) {
          left: -9%;
        }
        @media (max-width: map-get($grid-breakpoints, xl)) {
          left: -1%;
        }
        @media (max-width: map-get($grid-breakpoints, lg)) {
          display: none;
        }
        @media (max-width: map-get($grid-breakpoints, md)) {
          display: none;
        }
      }
      .sammy-img {
        position: absolute;
        top: -12%;
        right: -2%;
        width: 100%;
        max-width: 148px;
        @media (max-width: map-get($grid-breakpoints, lg)) {
          display: none;
        }
      }
    }
  }
  &-title {
    margin-top: 55px;
    margin-bottom: 75px;
    max-width: 700px;
    width: 100%;
    @media (max-width: map-get($grid-breakpoints, xs)) {
      font-size: 30px !important;
    }
  }
  .btn-big {
    border: 3px solid $yellow;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      .hover-text {
        font-size: 34px !important;
      }
    }
    &:hover {
      border-color: $secondary !important;
    }
    &:active {
      border-color: $accent !important;
    }
  }
  .input-otp {
    margin-bottom: 65px;
    input {
      border: 3px solid $yellow;
      outline: none;
      &:focus {
        border-color: $accent;
      }
    }
  }
}

.onboard-06-section {
  padding-top: 25px;
  padding-bottom: 60px;
  &-card {
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
    h5 {
      line-height: 40px;
      letter-spacing: 10px;
    }
    &-table-wrapper {
      padding-left: 5px;
      padding-right: 5px;
      overflow: auto;
    }
    &-table {
      margin: 0px auto;
      max-width: 652px;
      min-width: 550px;
      max-height: 270px;
      height: 100%;
      .onboard-06-table-img {
        text-align: center;
        width: 100%;
        position: relative;
        .table-logo {
          img {
            max-width: 66px;
          }
          width: 100%;
          @media (max-width: map-get($grid-breakpoints, md)) {
            max-width: 45px;
            width: 45px;
          }
        }
      }
      .onboard-06-table-username {
        input {
          border-radius: 20px;
          border: 2px solid #fff;
          height: 40px;
          background-color: $primary;
          width: 260px;
          height: 40px;
        }
      }
      .onboard-06-table-number {
        input {
          border-radius: 20px;
          border: 2px solid #fff;
          height: 40px;
          background-color: $primary;
          width: 66px;
          height: 40px;
        }
      }
      .onboard-06-button {
        border-radius: 20px;
        border: 2px solid #fff;
        background: #fff;
        width: 100px;
        height: 40px;
        &:hover {
          background: #00c500;
          color: white !important;
        }
      }
    }
    &-bottom {
      max-width: 595px;
      margin: 0px auto;
      .onboard-06-more {
        background: none;
        border: none;
        text-align: right;
        color: #fff;
        text-align: right;
        font-size: 16px;
        font-weight: 600;
      }
      .onboard-06-button-varify {
        border: 1px solid white;
        &:hover {
          background: #00c500 !important;
          color: white;
        }
      }
    }
  }
}

.onboard-button-left img,
.onboard-button-right img {
  position: absolute;
  width: 10px;
  top: 36%;
}
.onboard-button-right img {
  right: -5px;
}
.onboard-button-left img {
  rotate: 180deg;
  left: -5px;
}
