$btn-border-radius: 30px;
$btn-defualt-border: 2px solid $primary;
$btn-primary-border: 2px solid $primary;
$btn-teritary-border: 2px solid $teritary;
$btn-accent-v2-border: 2px solid $accent-v2;
$btn-gray-border: 2px solid #d9e4ff;

$btn-outlined-border: 2px solid $white;

$btn-width: 160px;
$btn-height: 40px;
$btn-font-size: 16px;
$btn-font-weight: 800;

$btn-width-sm: 120px;
$btn-height-sm: 40px;
$btn-font-size-sm: 16px;
$btn-font-weight-sm: 800;

$btn-width-lg: 200px;
$btn-height-lg: 40px;
$btn-font-size-lg: 16px;
$btn-font-weight-lg: 800;

$btn-width-xl: 225px;
$btn-height-xl: 40px;
$btn-font-size-xl: 24px;
$btn-font-weight-xl: 800;

$btn-big-width-sm: 205px;
$btn-big-height-sm: 60px;
$btn-big-font-size-sm: 40px;
$btn-big-font-weight-sm: 800;

$btn-big-width-lg: 275px;
$btn-big-height-lg: 60px;
$btn-big-font-size-lg: 26px;
$btn-big-font-weight-lg: 800;

.btn {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border-radius: $btn-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-align: center;
  transition: $transition-base;
  padding: 8px;

  &.btn-md {
    width: $btn-width;
    height: $btn-height;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
  }

  .hover-text,
  .active-text {
    display: none;
  }

  &:hover,
  &:active {
    .default-text {
      display: none;
    }
  }
  &:hover:not(:active) {
    .hover-text {
      display: inline-block;
    }
  }
  &:active {
    .active-text {
      display: inline-block;
    }
  }
}
.btn-featured {
  border: $btn-gray-border;
  background-color: $white;
  color: $primary;

  &:hover {
    border-color: $featured;
    background-color: $featured;
    color: $white;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
  }
}
.btn-default {
  border: $btn-defualt-border;
  background-color: $white;
  color: $text-dark;

  &:hover {
    background-color: $primary;
    color: $white;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
  }
}
.btn-default-v2 {
  border: $btn-teritary-border;
  background-color: $white;
  color: $teritary;

  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
  }
}
.btn-secondary {
  border: $btn-accent-v2-border;
  background-color: $secondary;
  color: $white;

  &:hover {
    background-color: $teritary;
    border-color: $secondary;
    color: $secondary;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
    color: $white;
  }
}
.btn-filled {
  border: $btn-defualt-border;
  background-color: $primary;
  color: $text-light;

  &:hover {
    background-color: $white;
    color: $primary;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
    color: $white;
  }
}
.btn-filled-purple {
  border: $btn-defualt-border;
  background-color: $primary;
  color: $text-light;

  &:hover {
    background-color: $purple;
    border-color: $purple;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
  }
}
.btn-filled-light {
  border: $btn-outlined-border;
  background-color: $white;
  color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
    color: $white;
  }
}
.btn-outlined {
  border: $btn-outlined-border;
  background-color: transparent;
  color: $text-light;

  &:hover {
    background-color: $primary-dark;
    color: $white;
  }
  &:active {
    background-color: $accent;
    border-color: $white;
    color: $white;
  }
}
.btn-outlined-primary {
  border: $btn-primary-border;
  background-color: transparent;
  color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  &:active {
    background-color: $accent;
    border-color: $white;
    color: $white;
  }
}
.btn-outlined-primary-dark {
  border: $btn-gray-border;
  background-color: transparent;
  color: $primary-dark;

  &:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
    color: $white;
  }
  &:active {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  &:focus {
    border-color: $primary-dark;
  }
}
.btn-outlined-secondary {
  border: 2px solid rgba(171, 59, 255, 0.20);
  background-color: transparent;
  color: $purple-dark;

  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: $white;
  }
  &:focus {
    border-color: $purple;
  }
}
.btn-outlined-teritary {
  border: 2px solid rgba(222, 25, 91, 0.2);
  background-color: transparent;
  color: $teritary;

  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
  }
  &:active {
    background-color: $teritary;
    border-color: $teritary;
    color: $white;
  }
  &:focus {
    border-color: $teritary;
  }
}

.btn-sm {
  width: $btn-width-sm;
  height: $btn-height-sm;
  font-size: $btn-font-size-sm;
  font-weight: $btn-font-weight-sm;
}
.btn-lg {
  width: $btn-width-lg;
  height: $btn-height-lg;
  font-size: $btn-font-size-lg;
  font-weight: $btn-font-weight-lg;
}

.btn-xl {
  width: $btn-width-xl;
  height: $btn-height-xl;
  font-size: $btn-font-size-xl;
  font-weight: $btn-font-weight-xl;
}
.btn-big {
  width: $btn-big-width-sm;
  height: $btn-big-height-sm;
  font-size: $btn-big-font-size-sm;
  font-weight: $btn-big-font-weight-sm;
}
.btn-big-lg {
  width: $btn-big-width-lg;
  height: $btn-big-height-lg;
  font-size: $btn-big-font-size-lg;
  font-weight: $btn-big-font-weight-lg;
}
