$card-border-radius: 10px;
$background-bg: $white;
$card-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

.tag {
  color: inherit;
  padding: 2px 8px;
  font-size: map-get($sizes, 3);
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid $gray-light;
  background: rgba(217, 228, 255, 0.5);
}

.divider {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    height: 2px;
    width: 40%;
    background-color: $primary;
    border-radius: 20px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      top: 0;
      right: 50%;
      width: 2px;
      height: 40%;
    }
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 50%;
    left: 0;
    height: 2px;
    width: 40%;
    background-color: $primary;
    border-radius: 20px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 40%;
    }
  }
}

.card-arrow {
  img {
    margin-left: -2px;
    margin-bottom: 1px;
    width: 100%;
    max-width: 10px;
  }
}

.more-arrow {
  img {
    margin-left: 3px;
    margin-bottom: -2px;
    width: 100%;
    max-width: 10px;
  }
}

.card {
  border-radius: $card-border-radius;
  background: $background-bg;
  box-shadow: $card-box-shadow;
  color: $text-dark;
  overflow: hidden;
  height: 100%;
  transition: $transition-base;

  &-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 13/8.7;
    object-fit: cover;
    object-position: center;
  }
  &-content {
    padding: 18px 20px;
    letter-spacing: 0.32px;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: map-get($sizes, 5);
    font-weight: 700;
  }
  &-description {
    margin-top: 0;
    font-size: map-get($sizes, 3);
    font-style: italic;
    font-weight: 600;
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 20px 20px 20px;
  }
}

.card-v2 {
  border-radius: $card-border-radius;
  background: $background-bg;
  border: 1px solid $gray-light;
  color: $text-dark;
  overflow: hidden;
  padding: 30px 35px 40px 35px;
  margin-top: 20px;
}

.card-v3 {
  border-radius: 30px;
  width: 100%;
  border: 2px solid $gray-light;
  &-content {
    @media (max-width: map-get($grid-breakpoints, md)) {
      gap: 30px;
      input {
        width: 100%;
      }
    }
  }
  &-title {
    margin: 42px 0;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    &-top-link {
      text-align: center;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        gap: 15px;
      }
    }
  }
  &-bottom-link {
    margin-top: 54px;
  }
  &-note {
    margin-top: 32px;
    text-align: center;
  }
}

.card-top-title {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    flex-direction: column;
  }
  &-mt {
    margin-top: 36px;
  }
  &-left {
    gap: 20px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      flex-direction: column;
      gap: 5px;
      h1 {
        text-align: center;
        display: block !important;
      }
    }
    h1 {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    img {
      width: 100%;
      max-width: 130px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        max-width: 110px;
      }
    }
  }
}

.card {
  &-wizard {
    display: flex;
    transition: $transition-base;
    &.show-next {
      translate: -100% 0px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        max-height: 580px;
      }
      @media (max-width: map-get($grid-breakpoints, md)) {
        max-height: 680px;
      }
    }
  }
  &-slider-content {
    min-width: 100%;
  }
  &-default-content,
  &-next-content {
    min-width: 100%;
    padding: 50px 100px 50px 100px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 40px;
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
      padding: 50px;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding: 30px;
    }
  }
}

.card-hover-primary {
  transition: 0.1s all !important;
  &:hover {
    box-shadow: $primary 0px 1px 3px 0px, $primary 0px 0px 0px 2px !important;
  }
}

.card-hover-teritary {
  transition: 0.1s all !important;
  &:hover {
    box-shadow: $teritary 0px 1px 3px 0px, $teritary 0px 0px 0px 2px !important;
  }
}

.card-hover-purple {
  transition: 0.1s all !important;
  &:hover {
    box-shadow: $purple 0px 1px 3px 0px, $purple 0px 0px 0px 2px !important;
  }
}

.card-hover-purple-dark {
  transition: 0.1s all !important;
  &:hover {
    box-shadow: $purple-dark 0px 1px 3px 0px, $purple-dark 0px 0px 0px 2px !important;
  }
}

.card-hover-red {
  border: 2px solid transparent !important;
  &:hover {
    border: 2px solid $red !important;
  }
}

// .card-game-category {
//   height: 163px;
// }
