$card-border-radius: 10px;
$background-bg: $white;
$card-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

.tag {
  color: inherit;
  padding: 4px 8px;
  font-size: map-get($sizes, 3);
  font-weight: 700;
  border-radius: 6px;
  border: 1px solid $gray-light;
  background: rgba(217, 228, 255, 0.5);
}

.card-arrow {
  img {
    margin-left: -2px;
    margin-bottom: 1px;
    width: 100%;
    max-width: 10px;
  }
}

.more-arrow {
  img {
    margin-left: 3px;
    margin-bottom: -2px;
    width: 100%;
    max-width: 10px;
  }
}

.card {
  border-radius: $card-border-radius;
  background: $background-bg;
  box-shadow: $card-box-shadow;
  color: $text-dark;
  overflow: hidden;

  &-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 13/8.7;
    object-fit: cover;
    object-position: center;
  }
  &-content {
    padding: 18px 20px;
    letter-spacing: 0.32px;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: map-get($sizes, 5);
    font-weight: 700;
  }
  &-description {
    margin-top: 0;
    font-size: map-get($sizes, 3);
    font-style: italic;
    font-weight: 600;
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 20px 20px 20px;
  }
}

.card-v2 {
  border-radius: $card-border-radius;
  background: $background-bg;
  border: 1px solid $gray-light;
  color: $text-dark;
  overflow: hidden;
  padding: 30px 35px 40px 35px;
  margin-top: 20px;
}

.card-v3 {
  border-radius: 30px;
  width: 100%;
  max-width: 900px;
  border: 2px solid $gray-light;
  padding: 46px 104px 36px 104px;
  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding: 40px;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    padding: 50px;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    padding: 30px;
  }
  &-content {
    @media (max-width: map-get($grid-breakpoints, md)) {
      gap: 30px;
      input {
        width: 100%;
      }
    }
  }
  &-input-sm {
    border-radius: 30px;
    border: 2px solid $gray-light;
    background: $white;
    padding: 8px 27px;
    width: 275px;
    max-width: 100%;
    &::placeholder {
      font-weight: 700;
      font-size: 16px;
      color: rgba(49, 49, 49, 0.38);
    }
    &:focus {
      border: 2px solid $primary;
      outline: none;
    }
  }
}

.card-top-title {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    flex-direction: column;
  }
  &-mt {
    margin-top: 36px;
  }
  &-left {
    gap: 20px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      flex-direction: column;
      gap: 5px;
      h1 {
        text-align: center;
        display: block !important;
      }
    }
    h1 {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    img {
      width: 100%;
      max-width: 130px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        max-width: 110px;
      }
    }
  }
}
