.coloringsheets-member-section,
.coloringsheets-nonmember-section {
  padding: 60px 0;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    padding: 40px 0;
  }
  &-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  &-title {
    margin-top: 50px;
  }
  &-description {
    width: 100%;
    max-width: 1061px;
  }
  &-content {
    padding: 56px 0;
    &-scarrymommy-img {
      text-align: center;
      img {
        max-width: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &-thought {
    padding-top: 70px;
    padding-bottom: 67px;
    h1 {
      width: 100%;
      max-width: 750px;
      position: relative;
      padding: 0px 50px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        padding: 0px 20px;
      }
      &::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/Quote_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 62px;
        height: 48px;
        left: -10px;
        top: -15px;
        z-index: -1;
        @media (max-width: map-get($grid-breakpoints, md)) {
          width: 42px;
          height: 28px;
        }
      }
      &::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/Quote_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 62px;
        height: 48px;
        right: -10px;
        top: 20px;
        rotate: 180deg;
        z-index: -1;
        @media (max-width: map-get($grid-breakpoints, md)) {
          width: 42px;
          height: 28px;
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    max-width: 1068px;
    margin-top: 44px;
    &-para {
      width: 100%;
      max-width: 750px;
      text-align: center;
      margin: auto;
    }
  }
  .coloringsheets-nonmember-section {
    &-cards {
      .card-actions {
        button {
          @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 17px !important;
          }
        }
      }
    }
  }
}

.coloringsheets-nonmember-banner {
  background-image: url(../../assets/images/coloringsheetsbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.coloringsheets-nonmember-banner-title {
  margin-right: -14%;
  padding-left: 21%;
  h1 {
    max-width: 356px;
    z-index: 2;
  }
  button {
    z-index: 2;
  }
  @media (max-width: map-get($grid-breakpoints, lg)) {
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-right: 0px;
  }
}
.coloringsheets-nonmember-abc {
  max-width: 172px;
  margin-bottom: 25px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}
.coloringsheets-nonmember-cow {
  margin-left: -30%;
  margin-top: -35%;
  @media (max-width: map-get($grid-breakpoints, lg)) {
    display: none;
    margin-left: 0%;
    margin-top: 0%;
  }
}
.coloringsheets-nonmember-happygirl {
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}
.coloringsheets-nonmember-elephant {
  @media (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}
.coloringsheets-nonmember-girlhappy-mobile {
  max-width: 100%;
  padding-top: 18px;
  display: none;
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: block;
  }
}
.coloringsheets-nonmember-traindinosaur {
  @media (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
  @media (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}
@media (max-width: map-get($grid-breakpoints, xxl)) {
  .coloringsheets-member-section-buttons-container {
    height: 99px;
    overflow: scroll;
  }
}
@media (max-width: map-get($grid-breakpoints, xxl)) {
  .coloringsheets-nonmember-section-buttons-container {
    height: 99px;
    overflow: scroll;
  }
}
