$primary: #0078ff;
$secondary: #ff7500;
$teritary: #bb005a;
$accent: #96cc16;
$accent-v2: #ffe700;
$primary-dark: #2638c1;
$featured: #ab3bff;
$white: #fff;
$gray-light: #d9e4ff;
$text-dark: #313131;
$text-light: $white;
$body-bg: #f4f4f4;
$orange-dark: #ff8000;
$yellow: #ffdc00;
$purple: #ab3bff;
$purple-dark: #652d88;
$red: #de195b;
$red-dark: #e80000;

$headings-font-weight: 800;

$font-family-sans-serif: "Nunito", sans-serif;
$link-decoration: none;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1130px,
  xxl: 1330px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1090px,
  xxl: 1290px,
);

$sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 24px,
  7: 26px,
  8: 28px,
  9: 30px,
  10: 34px,
  11: 40px,
);

$text-sizes: (
  1: 13px,
  2: 14px,
  3: 15px,
  4: 16px,
  5: 18px,
  6: 20px,
  7: 22px,
  8: 24px,
  9: 25px,
  10: 26px,
  11: 28px,
  12: 30px,
  13: 32px,
  14: 34px,
  15: 36px,
  16: 38px,
  17: 40px,
  18: 42px,
  19: 44px,
  20: 46px,
  21: 52px,
  22: 54px,
  23: 60px,
  24: 64px,
);

$text-colors: (
  white: $text-light,
  secondary: $secondary,
  secondary-light: #faf7f3,
  dark: $text-dark,
  primary: $primary,
  primary-dark: $primary-dark,
  red: $red,
  teritary: $teritary,
  red-dark: $red-dark,
  yellow: $yellow,
  purple: $purple,
  purple-dark: $purple-dark,
  orange-dark: $orange-dark,
  gray-light: $gray-light,
);

@each $color, $value in $text-colors {
  .text-#{$color} {
    color: $value !important;
  }
  .bg-#{$color} {
    background-color: $value !important;
  }
}

@each $size, $value in $text-sizes {
  .text-active-#{$size}:active {
    font-size: clamp($value - 10px, 4.5vw, $value) !important;
  }
  .text-hover-#{$size}:hover:not(:active) {
    font-size: clamp($value - 10px, 4.5vw, $value) !important;
  }
  .text-#{$size} {
    font-size: clamp($value - 10px, 4.5vw, $value) !important;
  }
}

@each $size, $value in $sizes {
  .font-active-#{$size}:active {
    font-size: $value !important;
  }
  .font-hover-#{$size}:hover:not(:active) {
    font-size: $value !important;
  }
  .font-#{$size} {
    font-size: $value !important;
  }
}

body {
  padding-top: 135px;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    padding-top: 80px;
  }
}

.default-border-light:not(:active, :hover) {
  border-color: $white !important;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.font-light {
  font-weight: 400;
}

.font-medium {
  font-weight: 600;
}

.font-bold {
  font-weight: 800;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

h5,
h6 {
  font-weight: 700 !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.page-content {
  position: relative;
  z-index: 1;
  &-cloud-img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.section {
  padding: 60px 0;
}

.section-pagination {
  margin-top: 20px;
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
  }
}

.member-banner-image {
  img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    object-position: center;
  }
}
.text-normal {
  font-style: normal !important;
}
