.contact-us-section {
  padding: 100px 0;
  max-width: 687px;
  width: 100%;
  margin: auto;
}
// .page-content-vector-img {
//   background-image: url(../../assets/images/lightbottomgroup.svg);
//   height: 200px;
//   background-repeat: repeat;
//   background-size: contain;
//   margin: 10px;
// }
