.footer {
  background-color: $primary;
  border-top: 2px solid #ff8000;

  &-logo {
    max-width: 221px;
  }
  &-top {
    padding: 40px 0;
    position: relative;
    z-index: 1;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      text-align: center;
    }
    .bubble-img {
      position: absolute;
      left: 25%;
      top: 50px;
      max-height: calc(100% - 50px);
      width: auto;
      z-index: -1;
    }
  }
  &-contact-info {
    font-weight: 700;
    font-size: 18px;
    color: $white;
    text-align: right;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      text-align: center;
    }
    p {
      margin-bottom: 0;
      a {
        color: $white;
        &:hover {
          color: $accent;
        }
      }
    }
  }
  &-links {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    &-on-right {
      text-align: right;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        text-align: center;
      }
    }
    li a {
      color: $white;
      font-weight: 700;
      font-size: 18px;
      &:hover {
        color: $accent;
      }
    }
  }
  &-social-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 12px;
    li a {
      line-height: 0;
      img {
        width: 25px;
      }
    }
  }
  &-copyright {
    color: $white;
    font-size: map-get($sizes, 3);
    margin: 0;
  }
  &-bottom {
    padding: 14px 0px;
    position: relative;
    z-index: 1;

    .crabby-img {
      position: absolute;
      width: 116px;
      left: calc(50% - 58px);
      bottom: 0;
      z-index: -1;

      @media (max-width: map-get($grid-breakpoints, md)) {
        left: initial;
        right: 20px;
      }
      @media (max-width: map-get($grid-breakpoints, xs)) {
        display: none;
      }
    }
  }

  &-dark {
    background-color: $primary-dark-v2;
    border-top: 2px solid $primary;
    li a,
    p {
      color: $primary;
    }
    &-top {
      padding-top: 30px;
      padding-bottom: 10px;
    }
    &-bottom {
      padding-bottom: 10px;
    }
  }
  #canvas-crabby {
    width: 50%;
  }
}
