.games-member-section,
.games-nonmember-section {
  padding: 60px 0;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    padding: 40px 0;
  }
  &-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  &-title {
    margin-top: 50px;
  }
  &-description {
    width: 100%;
    max-width: 1035px;
  }
  &-content {
    padding: 56px 0;
    &-scarrymommy-img {
      text-align: center;
      img {
        max-width: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &-bottom {
    width: 100%;
    max-width: 1068px;
    margin-top: 44px;
  }
  .games-nonmember-section {
    &-cards {
      .card-actions {
        .active-text {
          @media (max-width: map-get($grid-breakpoints, xs)) {
            font-size: map-get($text-sizes, 4) !important;
          }
        }
      }
    }
  }
}

.games-nonmember-banner {
  background-image: url(../../assets/images/gamenonmemberbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.games-nonmember-banner-abc {
  max-width: 172px;
  margin-bottom: 12px;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;
  }
}
.games-nonmember-banner-puppies {
  padding-top: 44px;
  margin-bottom: -2%;
  @media (max-width: map-get($grid-breakpoints, xxl)) {
    padding-top: 18px;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;
  }
}
.games-nonmember-banner-girlhappy {
  margin-bottom: -9%;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;
  }
}
.games-nonmember-banner-girlhappy-mobile {
  max-width: 100%;
  margin-bottom: -5%;
  padding-top: 18px;
  display: none;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: block;
  }
}
.games-nonmember-banner-traindinosaur {
  margin-bottom: -1%;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}
