$header-height: 135px;
$header-height-sm: 60px;
$header-logo-width: 221px;

.header {
  height: $header-height;
  background-color: $white;
  display: flex;
  align-items: center;
  &-logo {
    display: block;
    max-width: $header-logo-width;
    margin-top: -15px;
  }
}
