$header-height: 135px;
$header-height-sm: 80px;
$header-logo-width: 221px;

.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: $header-height;
  background-color: $white;
  display: flex;
  align-items: center;
  border-bottom: $btn-gray-border;
  &-logo {
    display: block;
    max-width: $header-logo-width;
    margin-top: -15px;
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    height: $header-height-sm;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    &-logo {
      max-width: $header-logo-width - 40;
    }
  }
}
