.header {
  z-index: 1000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: $header-height;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: $btn-gray-border;
  &-logo {
    display: block;
    max-width: $header-logo-width;
    margin-top: -15px;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    &-logo {
      max-width: $header-logo-width - 40;
    }
  }
  @media (max-width: map-get($grid-breakpoints, xs)) {
    &-logo {
      max-width: 146px;
    }
  }
}

.header-with-profile {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .logout-btn {
      width: 120px;
    }
  }
  @media (max-width: map-get($grid-breakpoints, xs)) {
    .navigations {
      gap: 8px;
    }
    .logout-btn {
      width: 72px;
      font-size: 14px;
    }
  }
}
