.banner-section {
  padding: 50px 0;
  .awards-img {
    max-width: 285px;
  }
}

.brand-items {
  padding: 60px 0;
  .slick-slide img {
    object-fit: contain;
    object-position: center;
    padding: 0 10px;
    height: 50px;
  }
}

.testimonial {
  &-section {
    padding-bottom: 60px;
  }

  &-slider :is(.slick-slide > div, &-item, &-card) {
    height: 100%;
  }
  &-item {
    padding: 8px;
  }
  &-slider {
    .slick-track {
      display: flex !important;
      .slick-slide {
        height: inherit;
      }
    }
    width: calc(100% - 200px);
    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: 100%;
    }
  }

  &-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    #canvas-chicky {
      position: absolute;
      bottom: -25px;
      left: -60px;
      width: 100%;
      height: 100%;
      max-width: 200px;
      max-height: 200px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        display: none;
      }
    }
    #canvas-froggy {
      position: absolute;
      bottom: -14px;
      right: -40px;
      width: 100%;
      height: 100%;
      max-width: 150px;
      max-height: 150px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        display: none;
      }
    }
  }

  &-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 24px;
    p {
      font-size: 14px;
      color: $text-dark;
      margin: 0;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .star-rating {
      max-width: 130px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      img {
        max-width: 20px;
        height: 20px;
      }
    }
  }
}

.game-category-section {
  padding-bottom: 60px;
  .subtitle-container {
    margin-bottom: 26px;
    gap: 20px;
  }
}

.progress-tracker-section {
  padding: 60px 0;
  img {
    aspect-ratio: 16 / 6;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
}

.play-game-section {
  padding-top: 120px;
  padding-bottom: 60px;
  .bugaboo-canvas {
    position: relative;
    #canvas-bugaboo {
      position: absolute;
      top: -65px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 400px;
    }
  }
  .card {
    padding: 40px 24px 40px 24px;
    max-width: 800px;
    width: 100%;
    .play-game-card-description {
      margin-bottom: 16px;
      max-width: 600px;
      width: 100%;
    }
  }
}

.blog-section {
  padding: 60px 0;
  &-title {
    letter-spacing: 5px;
  }
}

.blog-card {
  height: 100%;
}
