.banner-section {
  padding: 60px 0;
  .awards-img {
    max-width: 285px;
  }
}

.brand-items {
  padding: 60px 0;
  .slick-slide img {
    object-fit: contain;
    object-position: center;
    padding: 0 10px;
    height: 50px;
  }
}

.testimonial {
  &-section {
    padding-bottom: 60px;
  }

  &-item {
    padding: 8px;
  }
  &-slider {
    width: calc(100% - 200px);
    @media (max-width: map-get($grid-breakpoints, sm)) {
      width: 100%;
    }
  }

  &-content {
    display: flex;
    align-items: flex-end;
  }
  &-bg-images {
    width: 100px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      display: none;
    }
  }

  &-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 24px;
    p {
      font-size: 14px;
      color: $text-dark;
      margin: 0;
    }
    .star-rating {
      max-width: 130px;
      margin: auto;
    }
  }
}

.game-category-section {
  padding-bottom: 60px;
  .subtitle-container {
    margin-bottom: 26px;
    gap: 20px;
  }
}

.progress-tracker-section {
  padding: 60px 0;
  img {
    aspect-ratio: 16 / 6;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
}

.play-game-section {
  padding: 60px 0;
  .bugaboo-img {
    margin-bottom: -15px;
    img {
      max-width: 200px;
      width: 100%;
    }
  }
  .card {
    padding: 24px;
    max-width: 800px;
    width: 100%;
    .play-game-card-description {
      margin-bottom: 16px;
      max-width: 600px;
      width: 100%;
    }
  }
}

.blog-section {
  padding: 60px 0;
  &-title {
    letter-spacing: 5px;
  }
}