.freetrial-banner-section {
  position: relative;
  background-image: url(../../assets/images/orangeleafbg.svg);
  z-index: 1;
  .section-bg-overlay {
    background-size: cover;
    background-color: rgba(255, 117, 0, 0.6);
    height: 30vh;
  }
  .section-bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 65px;
    z-index: -1;
  }
  h1 {
    padding-top: 96px;
    padding-bottom: 60px;
    max-width: 730px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding-top: 70px;
      padding-bottom: 95px;
    }
  }
  .freetrial-banner-bottom {
    z-index: 1;
    background-color: #fe4f03;
    .freetrial-user-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        flex-direction: column;
      }
      .welcome-user {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 28px;
        @media (max-width: map-get($grid-breakpoints, md)) {
          flex-direction: column;
          gap: 10px;
        }
        img {
          margin-top: -100px;
          width: 145px;
        }
      }
      .user-rating {
        display: flex;
        gap: 10px;
        img {
          max-width: 30px;
        }
      }
    }
  }
}
.home-freetrial-welcome-section {
  .game-fpo1-image {
    @media (max-width: map-get($grid-breakpoints, xl)) and (min-width: map-get($grid-breakpoints, lg)) {
      text-align: right !important;
    }
    img {
      width: 100%;
      max-width: 348px;
    }
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .card-v2-right-bottom {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
  &-card {
    margin-top: 64px;
  }
  .blog-title {
    margin-top: 78px;
  }
  .blog-card-float-img {
    margin-bottom: -5px;
    max-width: 503px;
  }
  .custom-margin {
    margin-top: 35px;
    margin-bottom: 43px;
  }
  .icon-star-img {
    max-width: 41px;
  }
}

.freetrial-banner-mobile-section {
  display: none;
  background-image: url(../../assets/images/orangemobilebg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.user-rating {
  background-color: #fe4f03;
  padding: 8px 0;
  img {
    margin-left: 8px;
    max-width: 25px;
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {
  .freetrial-banner-section {
    display: none;
  }
  .freetrial-banner-mobile-section {
    display: block;
  }
}
@media (max-width: map-get($grid-breakpoints, sm)) {
  .freetrial-banner-mobile-section {
    h1 {
      font-size: 26px !important;
    }
  }
}

.home-freetrial-banner {
  background-image: url(../../assets/images/blueflowers.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-freetrial-banner-center-image {
  z-index: 1;
}
.home-freetrial-banner-start-image {
  max-width: 172px;
}
.home-freetrial-banner-wrapper {
  margin-right: calc(-1 * (100vw - 100%) / 2);
  @media (max-width: map-get($grid-breakpoints, md)) {
    margin-right: 0;
  }
}

.blue-line {
  width: 100%;
  height: 15px;
  background: #0078ff;
  margin-top: -0.8%;
  z-index: 3;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    margin-top: -1%;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      margin-top: -1.5%;
    }
  }
}
.home-freetrial-banner-start-image {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;
  }
}
.home-freetrial-banner-end-image {
  @media (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}

#canvas-trex {
  width: 100%;
  align-self: flex-end;
  margin-bottom: -2px;
}

.navigation-profile {
  position: relative;
  .navigation-profile-show-details {
    background: #000;
    padding: 10px 14px;
    position: absolute;
    bottom: -320%;
    right: 0%;
    transform: translateX(-0%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(255, 255, 255, 0.9);
      top: -8px;
      right: 6px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}

.navigation-profile-show-details.remove {
  display: none;
}
