.freetrial-banner-section {
  position: relative;
  z-index: 1;
  .section-bg-overlay {
    background-color: rgba(255, 117, 0, 0.7);
  }
  .section-bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h1 {
    padding-top: 96px;
    padding-bottom: 60px;
    max-width: 730px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding-top: 70px;
      padding-bottom: 86px;
    }
  }
  .freetrial-banner-bottom {
    background-color: #fe4f03;
    .freetrial-user-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        flex-wrap: wrap;
        justify-content: center;
        .welcome-user {
          width: 100%;
          justify-content: space-between;
        }
      }
      .welcome-user {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 28px;
        @media (max-width: map-get($grid-breakpoints, sm)) {
          flex-direction: column;
          gap: 10px;
        }
        img {
          margin-top: -100px;
          width: 145px;
        }
      }
      .user-rating {
        display: flex;
        gap: 10px;
        img {
          max-width: 30px;
        }
      }
    }
  }
}
.home-freetrial-welcome-section {
  .game-fpo1-image {
    @media (max-width: map-get($grid-breakpoints, xl)) and (min-width: map-get($grid-breakpoints, lg)) {
      text-align: right !important;
    }
    img {
      width: 100%;
      max-width: 348px;
    }
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .card-v2-right-bottom {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
  &-card {
    margin-top: 64px;
  }
  .blog-title {
    margin-top: 78px;
  }
  .blog-card-float-img {
    margin-bottom: -5px;
    max-width: 503px;
  }
  .custom-margin {
    margin-top: 35px;
    margin-bottom: 43px;
  }
  .icon-star-img {
    max-width: 41px;
  }
}
