.home-freetrial-welcome-section {
  .game-fpo1-image {
    @media (max-width: map-get($grid-breakpoints, xl)) and (min-width: map-get($grid-breakpoints, lg)) {
      text-align: right !important;
    }
    img {
      width: 100%;
      max-width: 348px;
    }
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    .card-v2-right-bottom {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
  &-card {
    margin-top: 64px;
  }
  .blog-title {
    margin-top: 78px;
  }
  .blog-card-float-img {
    margin-bottom: -5px;
    max-width: 503px;
  }
  .custom-margin {
    margin-top: 35px;
    margin-bottom: 43px;
  }
  .icon-star-img {
    max-width: 41px;
  }
}