.home-freegames-section {
  &-banner {
    background-color: $yellow;
    @media (max-width: map-get($grid-breakpoints, xl)) {
      padding-top: 25px;
    }
    .card-off {
      background-color: #ffc800;
      border-radius: 20px;
      border: 2px solid #fff;
      margin: 0 auto;
      padding: 32px 16px 24px 16px;
      width: 100%;
      max-width: 310px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: none;
      @media (max-width: map-get($grid-breakpoints, md)) {
        display: none;
      }
      &-content {
        gap: 8px;
      }
    }
    .surprised-girl {
      padding-top: 18px;
      margin-bottom: -15px;
      img {
        max-width: 330px;
      }
    }
  }
  .title {
    margin-top: 35px;
    text-align: center;
  }
  .subtitle {
    text-align: center;
    &-days {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $red;
      border-radius: 50%;
      color: $yellow;
      aspect-ratio: 1 / 1;
      width: 1.6em;
    }
  }
  &-content {
    padding: 56px 0;
    &-scarrymommy-img {
      text-align: center;
      img {
        max-width: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.home-freegames-section-content {
  .card-off {
    background-color: #ffc800;
    border-radius: 20px;
    border: 2px solid #fff;
    margin: 0 auto;
    padding: 32px 16px 24px 16px;
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }
}

.home-freegames-section {
  .card-off {
    background-color: #ffc800;
    border-radius: 20px;
    border: 2px solid #fff;
    margin: 0 auto;
    padding: 32px 16px 24px 16px;
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    margin-top: 16px;
    @media (min-width: map-get($grid-breakpoints, md)) {
      display: none;
    }
  }
}

.card-off-mobile-only {
  background-color: #ffc800;
  border-radius: 20px;
  border: 2px solid #fff;
  margin: 0 auto;
  padding: 32px 16px 24px 16px;
  width: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  &-content {
    gap: 8px;
  }
}
