.input-sm {
  border-radius: 30px;
  border: 2px solid $gray-light;
  background: $white;
  padding: 8px 27px;
  width: 275px;
  max-width: 100%;
  &::placeholder {
    font-weight: 700;
    font-size: 16px;
    color: rgba(49, 49, 49, 0.38);
  }
  &:focus {
    border: 2px solid $primary;
    outline: none;
  }
}
.input-lg {
  border-radius: 30px;
  border: 2px solid $gray-light;
  background: $white;
  padding: 15px 27px;
  width: 275px;
  max-width: 100%;
  &::placeholder {
    font-weight: 700;
    font-size: 16px;
    color: rgba(49, 49, 49, 0.38);
  }
  &:focus {
    border: 2px solid $primary;
    outline: none;
  }
}

.input-otp {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    gap: 10px;
  }
  input {
    max-width: 106px;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    border: 2px solid #d9e4ff;
    background: #fff;
    padding: 25px;
    font-size: 32px;
    text-align: center;
    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 20px;
      padding: 10px;
    }
    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
}

.form-password-control {
  position: relative;

  input {
    padding-right: 40px;
  }

  .show {
    display: none;
  }

  &.show {
    .hide {
      display: none;
    }
    .show {
      display: block !important;
    }
  }
  .password-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 19px;
    &.show {
      display: none;
    }
  }
}

.self-submit-input {
  position: relative;
  width: 440px;
  max-width: 100%;
  input {
    border-radius: 35px;
    border: 2px solid #ffbd00;
    background: #fff;
    padding: 10px 70px 10px 25px;
    width: 100%;
    font-size: map-get($text-sizes, 7);
    font-weight: 700;
    color: $text-dark;
    &::placeholder {
      color: $primary;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    border: none;
    outline: none;
    width: auto;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 8px;
    img {
      max-width: 44px;
    }
  }
}
