.onboard-03-section {
  padding-top: 15px;
  &-card-container {
    position: relative;
  }
  &-card {
    padding: 20px;
  }
  &-title {
    padding: 25px 0px;
  }
  .onboard-03-slider {
    display: flex;
    justify-content: center;
    .single-item {
      overflow-x: hidden;
    }
    .slick-list {
      margin: 0px 50px;
      overflow-x: hidden;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        margin: 0px 30px;
      }
    }
  }
  .forward-btn {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    img {
      width: 48px;
      max-width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  .avatar-container {
    gap: 20px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      margin-bottom: 20px;
    }
    button {
      max-width: 126px;
      width: 100%;
      border-radius: 50%;
      background: transparent;
      border: 5px solid transparent;
      padding: 0;
      transition: $transition-base;
      &:hover {
        border-color: $yellow;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
  .slider-button-right,
  .slider-button-left {
    max-width: 40px;
    width: 100%;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      max-width: 30px;
    }
  }
  .slider-button-left {
    left: 10px;
    top: 40%;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      left: 0px;
    }
  }
  .slider-button-right {
    z-index: 3;
    right: 10px;
    top: 40%;
    rotate: 180deg;
    @media (max-width: map-get($grid-breakpoints, sm)) {
      right: 0px;
    }
  }
  .slick-arrow {
    display: none;
    margin: 0px;
  }
}

.onboard-03-section .onboard-03-slider .slick-list {
  margin-left: 70px !important;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-left: 55px !important;
  }
}
