.onboard-01-section {
  padding-top: 15px;
  &-card {
    padding: 0 20px 15px 20px;
    &-title,
    &-description {
      max-width: 515px;
      width: 100%;
    }
    &-title {
      margin-top: 108px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        margin-top: 80px;
      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        margin-top: 60px;
      }
    }
  }
}

.onboard-add-child {
  .onboard-01-section-card-title {
    margin-top: 0;
  }
  .add-child-title {
    color: #ffbd00;
    letter-spacing: 10px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
