.page-content {
  overflow-x: hidden;
}
.profile-detail-section {
  background: #faf7f3;
  .parent-profile {
    padding: 40px 14px 0px 12px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 40px 0px 0px 12px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        padding: 30px 12px 0px 12px;
      }
    }
    .profile-title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      @media (max-width: map-get($grid-breakpoints, lg)) {
        flex-direction: column;
      }
      button {
        color: $primary;
        font-size: 16px;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 0.32px;
        border: none;
        background: transparent;
      }
    }
  }
}
.membership-detail {
  padding-bottom: 20px;
  margin-right: calc(-1 * (100vw - 100%) / 2);
  padding-right: calc(1 * (100vw - 100%) / 2);
  padding-left: 68px;
  padding-top: 40px;
  background: #ffffff;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    padding-left: 30px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding-left: 10px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        padding: 30px 0px 20px 0px;
        margin-left: calc(-1 * (100vw - 100%) / 2);
        padding-left: calc(1 * (100vw - 100%) / 2);
      }
    }
  }
  .membership-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      flex-direction: column;
    }
    h5 {
      color: $primary;
      font-size: 18px;
      font-weight: 800 !important;
      line-height: 18px;
      letter-spacing: 4px;
    }
    p {
      color: #de0059;
      font-size: 18px;
      font-weight: 800;
      line-height: 18px;
      letter-spacing: 2px;
    }
  }
  .membership-description {
    padding-right: 70px;
    font-size: 18px;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      font-size: 16px;
    }
    p {
      font-weight: 500;
    }
  }
}
.upgrade {
  margin-left: 0;
  margin-right: calc(-1 * (100vw - 100%) / 2);
  padding-right: calc(1 * (100vw - 100%) / 2);
  background: $yellow;
  padding-top: 18px;
  padding-bottom: 18px;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-left: -12px;
  }
}
.parents-dashboard {
  padding: 20px 0px;
  background: $primary;
  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 4px;
    margin: 0px;
  }
  .parents-dashboard-images {
    flex-wrap: wrap;
    img {
      max-width: 130px;
      @media (max-width: map-get($grid-breakpoints, xxl)) {
        max-width: 120px;
        @media (max-width: map-get($grid-breakpoints, xl)) {
          max-width: 100px;
        }
      }
    }
  }
}

.user-detail-section {
  background: #ffffff;
  .user-detail-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 25px;
    padding-right: 10px;
    .username-option {
      color: $primary;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.32px;
      padding: 5px 10px 5px 20px;
      border-radius: 30px;
      border: 2px solid $primary;
      background: #fff;
    }
    .profile-text {
      color: #de0059;
      font-size: 28px;
      font-weight: 800;
      line-height: 30px;
      letter-spacing: 0.32px;
      padding-bottom: 38px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        text-align: center;
      }
    }
  }
  .weekly-activity {
    background-color: #faf7f3;
    margin-right: calc(-1 * (100vw - 100%) / 2);
    padding-right: calc(1 * (100vw - 100%) / 2);
    padding-left: 68px;
    padding-top: 26px;
    height: 100%;
    @media (max-width: map-get($grid-breakpoints, xxl)) {
      padding-left: 20px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        margin-left: calc(-1 * (100vw - 100%) / 2);
        padding-left: calc(1 * (100vw - 100%) / 2);
      }
    }
    .weekly-activity-top {
      margin-bottom: 20px;
      h2 {
        color: $primary;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 4px;
        margin: 0;
      }
      .weekly-activity-img {
        gap: 8px;
        img {
          max-width: 30px;
          width: 100%;
        }
      }
    }
    .weekly-activity-score-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 10px 3px;
    }
  }
}

.foundation-section {
  border-top: 2px solid $secondary;
  .foundation-left {
    padding-right: 38px;
    padding-top: 45px;
    @media (max-width: map-get($grid-breakpoints, xxl)) {
      padding-left: 12px;
      padding-right: 12px;
    }
    .literacy-tabel-wrapper {
      display: flex;
      flex-direction: column;
      gap: 36px;
      .literacy-card {
        .literacy-card-inner {
          padding: 26px;
          .literacy-card-top {
            display: flex;
            gap: 22px;
            @media (max-width: map-get($grid-breakpoints, sm)) {
              gap: 0px;
            }
            img {
              max-width: 128px;
            }
          }
          .literacy-car-table {
            @media (max-width: map-get($grid-breakpoints, md)) {
              overflow-x: scroll;
            }
            table {
              min-width: 500px;
              width: 100%;
              .circle {
                img {
                  max-width: 20px;
                }
              }
            }
          }
        }
      }
    }
    .literacy-text {
      color: #de0059;
      font-size: 28px;
      font-weight: 800;
      line-height: 30px;
      letter-spacing: 0.32px;
      padding-top: 66px;
      padding-bottom: 80px;
      max-width: 444px;
      @media (max-width: map-get($grid-breakpoints, xxl)) {
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }
  }
  .foundation-right {
    margin-right: calc(-1 * (100vw - 100%) / 2);
    padding-right: calc(1 * (100vw - 100%) / 2);
    background: #faf7f3;
    height: 100%;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      margin-right: calc(-1 * (100vw - 100%) / 2);
      padding-right: calc(1 * (100vw - 100%) / 2);
      margin-left: calc(-1 * (100vw - 100%) / 2);
      padding-left: calc(1 * (100vw - 100%) / 2);
    }
  }
}
.foundation-right {
  .proficiency-wrapper {
    padding-top: 48px;
    padding-left: 48px;
    @media (max-width: map-get($grid-breakpoints, xl)) {
      padding-left: 20px;
      @media (max-width: map-get($grid-breakpoints, lg)) {
        padding-left: 0px;
      }
    }
    .card-6 {
      padding: 28px 20px;
      .proficiency-item {
        margin-top: 4px;
        margin-right: 12px;
        max-width: 20px;
      }
    }
  }
  .our-blog-section {
    margin-top: 58px;
    @media (max-width: map-get($grid-breakpoints, xl)) {
      text-align: center;
    }
    h5 {
      font-weight: 800;
      letter-spacing: 5px;
    }
    img {
      margin-left: 16px;
      margin-top: 16px;
      margin-bottom: 22px;
      max-width: 168px;
    }
  }
}

.card-6 {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.card-new {
  background-color: #ffc800;
  border-radius: 20px;
  border: 2px solid #fff;
  margin: 30px auto 0px auto;
  padding: 32px 16px 24px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  @media (max-width: map-get($grid-breakpoints, lg)) {
    max-width: 326px;
  }
}

.profile-userinfo {
  @media (max-width: map-get($grid-breakpoints, md)) {
    h3,
    i {
      text-align: center;
    }
  }
}

.profile-detail input {
  border-radius: 30px;
  border: 2px solid #d9e4ff;
  background: #fff;
  width: 100%;
  height: 40px;
  padding-left: 15px;
}

.child-profile-img {
  max-width: 50px;
}

.child-profile-inner {
  overflow-x: auto;
  table {
    min-width: 400px;
    width: 100%;
    tr {
      @media (max-width: map-get($grid-breakpoints, md)) {
        font-size: 16px !important;
        th {
          @media (max-width: map-get($grid-breakpoints, sm)) {
            padding: 0px 5px;
          }
        }
      }
      td {
        padding: 8px 0px !important;
        button {
          max-width: 100px;
        }
      }
    }
  }
}

.child-profile-image {
  max-width: 50px;
  min-width: 48px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    margin-left: 6px;
    padding-right: 5px;
  }
}
.table-data {
  width: 200px;
}
.table-last-item {
  width: 120px;
}
