.text-red {
  color: #de0059;
  font-size: 18px;
  font-weight: 800 !important;
  line-height: 18px;
  letter-spacing: 2px;
}
.user-detail-section-2 {
  @media (max-width: map-get($grid-breakpoints, lg)) {
    .profile-text {
      text-align: center;
    }
  }
  .user-detail-info {
    padding-top: 34px !important;
    padding-bottom: 28px !important;
  }
  .profile-text {
    padding-bottom: 0 !important;
  }
  .username-option-outer {
    position: relative;
    select {
      -webkit-appearance: none;
      padding: 5px 33px 5px 20px !important;
    }
  }
  .username-option-outer {
    img {
      position: absolute;
      width: 18px;
      height: 18px;
      z-index: 3;
      right: 12px;
      top: 10px;
    }
  }
  .profile-userinfo {
    @media (max-width: map-get($grid-breakpoints, lg)) {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    img {
      max-width: 150px;
    }
  }

  .weekly-activity-score-item {
    max-width: 200px;
    margin: 0 auto;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      h1 {
        font-size: 45px !important;
      }
    }
  }
}
