.play-body {
  padding-top: 50px;
  .profile-header {
    .navigation-mobile {
      .menu-toggler {
        color: $white;
      }
    }
    height: 50px;
    background: $primary;
    button {
      padding: 6px 8px;
      @media (max-width: map-get($grid-breakpoints, xl)) {
        width: 100%;
        border-color: $primary;
        color: $primary;
        &:hover {
          color: #ffffff;
          border-color: #001677;
        }
      }
    }
    .dropdown-arrow {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/polygon.svg);
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        right: 13px;
        top: 50%;
        transform: translateY(-25%);
      }
      select {
        @media (max-width: map-get($grid-breakpoints, xl)) {
          width: 100%;
        }
        text-align: start;
        width: 166px;
        padding: 6px 23px;
        height: 38px;
        font-size: 18px;
        font-weight: 600;
        appearance: none;
        &:hover {
          background: #fff;
          color: $primary;
        }
      }
    }
  }
}
.play-center-banner-section {
  position: relative;
  background-image: url(../../assets/images/orangeleafbg.svg);
  z-index: 1;
  .play-section-bg-overlay {
    background-size: cover;
    height: 30vh;
  }
  .play-section-bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-bottom: 65px;
    z-index: -1;
  }
  .play-center-banner-bottom {
    z-index: 1;
    background-color: #fe4f03;
    .play-center-user-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        flex-direction: column;
      }
      .welcome-user {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 28px;
        @media (max-width: map-get($grid-breakpoints, md)) {
          flex-direction: column;
          gap: 10px;
        }
        img {
          margin-top: -100px;
          width: 145px;
        }
      }
      .play-user-rating {
        display: flex;
        gap: 3px;
        img {
          max-width: 30px;
        }
      }
    }
  }
}

.play-center-content {
  .play-side-bar img {
    max-width: 57px;
    width: 100%;
  }
  .recently-played {
    border-radius: 10px;
    border: 1px solid #d9e4ff;
    box-shadow: none;
    &-inner {
      &-images {
        min-width: 70px;
      }
      padding: 18px 30px;
      gap: 18px;
      display: flex;
      align-items: center;
      h4 {
        @media (max-width: map-get($grid-breakpoints,sm)) {
          font-size: 16px;
        }
      }
      img {
        max-width: 34px;
        @media (max-width: map-get($grid-breakpoints,md)) {
          max-width: 28px;
          @media (max-width: map-get($grid-breakpoints,sm)) {
            max-width: 20px;
          }
        }
      }
      @media (max-width: map-get($grid-breakpoints, md)) {
        padding: 12px 7px;
        gap: 5px;
      }
    }
    &-slider {
      padding-bottom: 20px;
      max-width: 89%;
      @media (max-width: map-get($grid-breakpoints, lg)) {
        max-width: 84%;
      }
      margin: 0px auto;
      .responsive .slick-track .slick-slide {
        display: flex;
        justify-content: center;
      }
      .played-arrow {
        width: 38px;
        height: 38px;
        @media (max-width: map-get($grid-breakpoints, lg)) {
          width: 30px;
          height: 30px;
        }
      }
      .played-arrow.prev {
        left: -40px;
        @media (max-width: map-get($grid-breakpoints, lg)) {
          left: -30px;
          @media (max-width: map-get($grid-breakpoints, sm)) {
            left: -24px;
          }
        }
      }
      .played-arrow.next {
        right: -40px;
        @media (max-width: map-get($grid-breakpoints, lg)) {
          right: -30px;
          @media (max-width: map-get($grid-breakpoints, sm)) {
            right: -24px;
          }
        }
      }
      &-img {
        max-width: 245px;
        width: 100%;
        @media (max-width: 1330px) {
          padding: 5px;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .play-center-banner-section {
    display: none;
  }
}

.verify-popup-inner {
  padding: 62px 55px 24px 55px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    padding: 20px;
    h3 {
      font-size: clamp(30px, 4.5vw, 25px) !important ;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding: 0px;
    }
  }
}
.verify-popup {
  border-radius: 30px;
  border: 4px solid #001677;
  background: #2638c4;
}
.input-verify {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 40px;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    margin-bottom: 14px;
    input {
      padding: 8px !important;
      font-size: 20px !important;
    }
  }
}
.input-verify-button {
  display: flex;
  flex-direction: column;
  align-items: end;
  button {
    padding: 2px 3px;
    width: 100%;
    max-width: 86px;
    background-color: transparent;
    border: none;
    outline: none;
    @media (max-width: map-get($grid-breakpoints, md)) {
      max-width: 70px;
    }
  }
  .verify-enter {
    width: 100%;
    max-width: 178px;
    background: transparent;
    border: none;
  }
}
.input-verify input {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  border: 2px solid #6dcbf2;
  background: #1426a9;
  padding: 25px;
  font-size: 22px;
  text-align: center;
  outline: none;
  color: $white;
}
.verify-popup-inner-image {
  max-width: 204px;
  margin-top: 16px;
  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}
.input-verify-button-inner {
  max-width: 260px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;

  button {
  }
}
// .modal-backdrop {
//   display: none;
// }

// @media (max-height: 704px) {
//   .verify-popup-inner {
//     padding: 0px 25px 0px 25px;
//   }
// }

@media (max-height: 704px) {
  .verify-popup-inner {
    padding: 0px 20px;
    .input-verify {
      max-width: 320px;
      margin-bottom: 18px;
    }
  }
}
@media (max-width: 767px) and (max-height: 704px) {
  .verify-popup-inner {
    padding: 0px 10px;
    .input-verify {
      max-width: 320px;
      margin-bottom: 18px;
    }
  }
}

body.menu-open header:not(.header-desktop-only) .navigations {
  top: 50px;
  opacity: 1;
}

.profile-detail {
  .editable-label {
    display: flex;
    height: 40px;
    align-items: center;
  }
  &.editable {
    .editable-label {
      display: none;
    }
  }
  &:not(.editable) {
    .editable-input {
      display: none;
    }
  }
}
