.signup-freetrial-section {
  padding: 60px 0;
  background-color: $primary-dark-v2;
  &-title {
    margin: 36px 0;
  }
  .division-section {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 50%;
      width: 2px;
      height: 40%;
      background-color: $primary;
      border-radius: 20px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        top: 50%;
        right: 0;
        height: 2px;
        width: 40%;
      }
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 2px;
      height: 40%;
      background-color: $primary;
      border-radius: 20px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        bottom: 50%;
        left: 0;
        height: 2px;
        width: 40%;
      }
    }
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    &-top-link {
      text-align: center;
    }
  }
  &-link {
    margin-top: 54px;
  }
  &-para {
    margin-top: 32px;
    text-align: center;
  }
}
