.signup-freetrial-section {
  padding: 60px 0;
  background-color: $primary-dark-v2;
  &-title {
    margin: 36px 0;
  }
  &-link {
    margin-top: 54px;
  }
  &-para {
    margin-top: 32px;
    text-align: center;
  }
}
