.testimonial-section {
  padding-top: 60px;
  padding-bottom: 120px;
  &-content-title {
    gap: 15px;
    img {
      width: 100%;
      max-width: 45px;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        display: none;
      }
    }
  }
  &-content {
    margin-bottom: 60px;
  }
  &-card {
    border-radius: 20px;
    padding: 50px 42px 25px 42px;
    &-description {
      margin-bottom: 25px;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &-bottom {
      img {
        width: 100%;
        max-width: 75px;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
