.thank-you-section {
  padding: 25px 0;
  &-card {
    padding: 35px 80px;
    background-color: #faf7f3 !important;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 60px;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding: 50px 30px;
    }
    &-title {
      letter-spacing: -1px;
      text-align: center;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 26px !important;
      }
    }
    &-img {
      max-width: 460px;
      width: 100%;
      margin: 28px 0;
    }
    &-btn {
      @media (max-width: map-get($grid-breakpoints, xs)) {
        width: 230px;
        height: 50px;
      }
    }
  }
}
