.thank-you-section {
  padding: 25px 0;
  &-card {
    padding: 35px 80px;
    background-color: #faf7f3 !important;
    @media (max-width: map-get($grid-breakpoints, lg)) {
      padding: 60px;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding: 50px 30px;
    }
    &-title {
      letter-spacing: -1px;
      text-align: center;
      @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 26px !important;
      }
    }
    &-img {
      max-width: 460px;
      width: 100%;
      margin: 28px 0;
    }
    &-btn {
      @media (max-width: map-get($grid-breakpoints, xs)) {
        width: 230px;
        height: 50px;
      }
    }
  }
}

@media (max-height: 704px) {
  .thank-you-section-card {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .thank-you-section-card-img {
    max-width: 372px;
    margin: 15px 0;
  }
}

.thank-popup {
  max-width: 450px;
  border-radius: 30px;
  border: 2px solid #ffbd00;
  background: #fff;
  padding: 70px 20px 40px 20px;
  img {
    width: 100%;
    max-width: 209px;
    @media (max-width: map-get($grid-breakpoints, xxl)) {
      max-width: 160px;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      max-width: 120px;
    }
  }
  button {
    margin-top: 28px;
    width: 160px;
    height: 40px;
  }
}

@media (max-height: 704px) {
  .thank-popup {
    padding: 20px 11px 20px 11px;
  }
}
