.videos-member-section,
.videos-nonmember-section {
  padding: 60px 0;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    padding: 40px 0;
  }
  &-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  &-title {
    margin-top: 50px;
  }
  &-description {
    width: 100%;
    max-width: 1061px;
  }
  &-content {
    padding: 46px 0;
    &-awards-image {
      text-align: center;
      img {
        max-width: 518px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &-thought {
    padding-top: 70px;
    padding-bottom: 67px;
    h1 {
      width: 100%;
      max-width: 750px;
      position: relative;
      padding: 0px 50px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        padding: 0px 20px;
      }
      &::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/Quote_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 62px;
        height: 48px;
        left: -10px;
        top: -15px;
        @media (max-width: map-get($grid-breakpoints, md)) {
          width: 42px;
          height: 28px;
          top: -33px;
        }
      }
      &::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/Quote_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 62px;
        height: 48px;
        right: -10px;
        rotate: 180deg;
        top: 20px;
        @media (max-width: map-get($grid-breakpoints, md)) {
          top: 90px;
          width: 42px;
          height: 28px;
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    max-width: 1068px;
    margin-top: 44px;
  }
  .videos-nonmember-section-cards {
    .card-actions {
      .active-text {
        font-size: 22px;
      }
      .default-text {
        @media (max-width: map-get($grid-breakpoints, md)) {
          font-size: 17px !important;
        }
      }
      .hover-text {
        @media (max-width: map-get($grid-breakpoints, md)) {
          font-size: 16px !important;
        }
        @media (max-width: map-get($grid-breakpoints, xxl)) {
          font-size: 17px !important;
        }
      }
    }
  }
}

.video-nonmember-banner {
  background-image: url(../../assets/images/bg-purple.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video-nonmember-banner-abc {
  max-width: 172px;
  margin-bottom: 30px;
  @media (max-width: map-get($grid-breakpoints, lg)) {
    display: none;
  }
}
.video-nonmember-banner-threecartoons {
  padding-top: 0px;
  margin-left: -32px;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    margin-left: -32px;
  }
  @media (max-width: map-get($grid-breakpoints, md)) {
    margin-left: -0px;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;
  }
}
.video-nonmember-banner-boyhappy {
  margin-left: -32px;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    margin-left: 0px;
    margin-right: -23px;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: none;
  }
}
.video-nonmember-banner-boyhappy-mobile {
  max-width: 100%;
  padding-top: 18px;
  margin-bottom: 8px;
  display: none;
  @media (max-width: map-get($grid-breakpoints, sm)) {
    display: block;
  }
}
.video-nonmember-banner-girldinosaur {
  margin-left: -80px;
  margin-right: -22px;
  @media (max-width: map-get($grid-breakpoints, xxl)) {
    display: none;
  }
}
.purple-line {
  width: 100%;
  height: 15px;
  background: #a220df;
  margin-top: -14px;
}

@media (max-width: map-get($grid-breakpoints, xxl)) {
  .videos-member-section-buttons-container {
    height: 100%;
    max-height: 99px;
    overflow-y: scroll;
  }
}
@media (max-width: map-get($grid-breakpoints, xxl)) {
  .videos-nonmember-section-buttons-container {
    height: 100%;
    max-height: 99px;
    overflow-y: auto;
  }
}
