.videos-member-section,
.videos-nonmember-section {
  padding: 60px 0;
  @media (max-width: map-get($grid-breakpoints, xl)) {
    padding: 40px 0;
  }
  &-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  &-title {
    margin-top: 50px;
  }
  &-description {
    width: 100%;
    max-width: 1061px;
  }
  &-content {
    padding: 46px 0;
    &-awards-image {
      text-align: center;
      img {
        max-width: 518px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &-thought {
    padding-top: 70px;
    padding-bottom: 67px;
    h1 {
      width: 100%;
      max-width: 750px;
      position: relative;
      padding: 0px 50px;
      @media (max-width: map-get($grid-breakpoints, md)) {
        padding: 0px 20px;
      }
      &::after {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/Quote_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 62px;
        height: 48px;
        left: -10px;
        top: -15px;
        @media (max-width: map-get($grid-breakpoints, md)) {
          width: 42px;
          height: 28px;
          top: -33px;
        }
      }
      &::before {
        position: absolute;
        content: "";
        background-image: url(../../assets/images/Quote_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 62px;
        height: 48px;
        right: -10px;
        rotate: 180deg;
        top: 20px;
        @media (max-width: map-get($grid-breakpoints, md)) {
          top: 90px;
          width: 42px;
          height: 28px;
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    max-width: 1068px;
    margin-top: 44px;
  }
  &-cards {
    .card-actions {
      button {
        @media (max-width: map-get($grid-breakpoints, md)) {
          font-size: 26px !important;
        }
      }
    }
  }
  .videos-nonmember-section-cards {
    .card-actions {
      button {
        @media (max-width: map-get($grid-breakpoints, md)) {
          font-size: 16px !important;
        }
      }
    }
  }
}
